.App {
  text-align: center;
}

.btn-circle.btn-sm {
  width: 70px;
  height: 70px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  margin: 7px;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 30px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 80px;
  text-align: center;
}
.btn-success {
  background-color: red;
}
.btn-dark {
  background-color: blueviolet;
}
.btn-danger {
  background-color: yellowgreen;
}
.container {
  width: 150px;
  height: 200px;
  padding: 6px 0px;
  border-radius: 40px;
  font-size: 30px;
  text-align: center;
  margin: 7px;
}
.cold {
  background-color: blue;
}
.hot {
  background-color: orangered;
}